@model IEnumerable<Temiskaming.Models.FAQ>
@{
    ViewBag.Title = "index";
}

@Scripts.Render("~/bundles/jqueryui")

<script>
    $(function () {
        $("#accordion").accordion({
            collapsible: true,
            heightStyle: "content",
            active: false
        });
    });
</script>


<h2>FAQ</h2>

<div>
    <!-- search textbox using string input to sql statement where-->
    @using (Html.BeginForm("Index", "FAQ", FormMethod.Get))
    {
        <p>
            Search: @Html.TextBox("SearchString")
            <input type="submit" value="search" />
        </p>
    }
</div>


<!--display for question-->

<div id="display">
    <div id="accordion">
        @foreach (var x in Model)
        {
            <h3>Question: @Html.DisplayFor(model => x.Question)</h3>
            <div>
                <h3>
                    Answer: @Html.DisplayFor(model => x.Answer)
                </h3>

            </div>
        }
    </div>

</div>