@model IEnumerable<Temiskaming.Models.ContactForm>

@{
    ViewBag.Title = "ContactFormAdmin";
}

<h2>ContactFormAdmin</h2>

<ul>
    @foreach(var x in Model)
    {
        <li>
            @Html.DisplayFor(m => x.Name)
            @Html.DisplayFor(m =>x.Email)

        </li>
    }


</ul>