<h2>Thank you, <strong><em>@Model.v_fname @Model.v_lname</em></strong> 
    <br /> for signing up!</h2>
<br/>

<p>We appreciate our Volunteers and consider them an integral part of our health care team. </p>
<br />
@Html.ActionLink("Back to Volunteers Home", "Index", "Volunteers")


@*//[Team2]Temiskaming-Hospital website Redesign project @ Humber College
    //Feature: Volunteers - Public View
    //File : Thanks.cshtml
    //Author: Jeesoo Kim
    //Created: April 7, 2015*@