@Ajax.ActionLink("Exit Chat", "Exit", "Chat", new AjaxOptions
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "chat"
})


    <div id="chatLog">

    </div>
    <div id="chatUrl">@Url.Content("~/chatLogs/test.html")</div>


@Html.Partial("Send")
