@Ajax.ActionLink("Exit Chat", "Exit", "Chat", new AjaxOptions
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "chat"
})

<p>@Session["email"]</p>
    <div id="chatLog">

    </div>


@Html.Partial("Send")

@Scripts.Render("~/bundles/jqueryval")