

@{
    ViewBag.Title = "Temiskaming - Nurse Chat";
    @section css{
        @Styles.Render("~/content/nchat.css")
    }
}

<h2>Nurse Live Chat</h2>

<nav id="chatNav">
    <p>Current Chats</p>
    
    <div id="nMenu">

    </div>
</nav>
<div id="nchat">
</div>

<script type="text/javascript">
    function loadMenu() {
        var menuUrl = "/Chat/nList"
        $.ajax({
            url: menuUrl,
            cache: false,
            success: function (html) {
                $("#nMenu").html(html);
            }
        })
    }
    loadMenu();
    setInterval(loadMenu, 5000);
</script>
