@model Temiskaming.Models.chat
@{
    Layout = null;
}

@Ajax.ActionLink("Exit Chat", "Exit", "Chat", new AjaxOptions
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "chat"
})

<div id="chatLog">
    @{Html.RenderAction("Display", "Chat", new { file = Model.log_file });}
</div>
<div id="chatUrl">@Url.Content("/Chat/Display?file=" + Model.log_file)</div>


@Html.Partial("Send")

<script type="text/javascript">
    function loadChatLog() {
        var oldHeight = $("#chatLog").prop('scrollHeight') - 20;
        var chaturl = $("#chatUrl").html();
        $.ajax({
            url: chaturl,
            cache: false,
            success: function (html) {
                $("#chatLog").html(html);
                var newHeight = $("#chatLog").prop('scrollHeight') - 20;
                if (newHeight > oldHeight) {
                    $("#chatLog").animate({ scrollTop: newHeight }, 'normal');
                }
            }
        })

    }

    var sHeight = $("#chatLog").prop('scrollHeight');
    $("#chatLog").animate({ scrollTop: sHeight }, 'normal');



    setInterval(loadChatLog, 1000);
</script>