@using (Ajax.BeginForm("Send", new AjaxOptions
{

}, null, new { @id = "fMessage" }))
{

    @Html.TextBox("message")
    <input type="submit" id="send" name="send" value="Send" />
    <p>@ViewBag.Test</p>
}

@Scripts.Render("~/bundles/jqueryval")