@model Temiskaming.Models.chat
@{
    Layout = null;
}

@Html.ActionLink("Close Chat", "nExit", "Chat", new { id = Model.id }, null)

<div id="chatLog">
    @{Html.RenderAction("Display", "Chat", new { file = Model.log_file });}
</div>
<div id="chatUrl">@Url.Content("/Chat/Display?file=" + Model.log_file)</div>

@{
    ViewBag.File = Model.log_file;
    Html.RenderAction("nSend", new { file = Model.log_file });
}
<script type="text/javascript">
    function loadChatLog() {
        var oldHeight = $("#chatLog").prop('scrollHeight') - 20;
        var chaturl = $("#chatUrl").html();
        $.ajax({
            url: chaturl,
            cache: false,
            success: function (html) {
                $("#chatLog").html(html);
                var newHeight = $("#chatLog").prop('scrollHeight') - 20;
                if (newHeight > oldHeight) {
                    $("#chatLog").animate({ scrollTop: newHeight }, 'normal');
                }
            }
        })

    }

    var sHeight = $("#chatLog").prop('scrollHeight');
    $("#chatLog").animate({ scrollTop: sHeight }, 'normal');



    setInterval(loadChatLog, 1000);
</script>