@{
    ViewBag.Title = "Temiskaming - Contact Us";
}
<div class="menu">
    <nav>
        @{Html.RenderAction("Nav", "Home", new { group = "ContactUs" });}
        
    </nav>
</div>
<h2>Contact Us</h2>
