
@{
    ViewBag.Title = "Temiskaming Hospital";
}

<article id="home">

    <div class="imgSlider">
        <img src="~/Content/Images/slider/temis3.jpg" />
        <img src="~/content/images/slider/temis1.jpg" />
        <img src="~/Content/Images/slider/temis2.jpg" />
    </div>
</article>

@section scripts{
    @Scripts.Render("~/scripts/imgSlider.js")
}
