
@{
    ViewBag.Title = "Temiskaming Hospital";
}

<article id="home">
    <div id="banner">

    </div>

    <div id="welcome">
        <h2>Message From the CEO</h2>
        <p>Welcome to Temiskaming Hospital’s website, one of many methods to inform you about&nbsp;<span style="line-height: 1.3em;">our community hospital programs and services.</span></p>
        <p>Temiskaming Hospital (TH) is located in&nbsp;the City of Temiskaming Shores, Ontario and is a fully accredited, community hospital committed to <br>providing acute care services. &nbsp;We are a leader in rural health care and support service delivery across the Temiskaming communities. &nbsp;</p>
        <p>TH has 59 beds, staffed by 257 employees, <a href="http://www.temiskaming-hospital.com/images/information/aboutus/20140623_Professional_Staff_Listing.pdf" target="_blank" title="Professional Staff">27 Physicians and 2 Midwives</a>. Our staff includes Regulated Health Professionals providing inpatient and outpatient services including Occupational Therapy, Physical Therapy, Social Work, Speech Therapy, Respiratory Therapy, and clinical nutrition.</p>
        <p>In addition, TH is the district referral hospital for the provision of obstetrical and level 1B nursery services, stroke services, lab and&nbsp;medical imaging&nbsp;(including CT Scan).&nbsp;</p>
        <p>In partnership with Sudbury’s Health Sciences North (HSN), we provide Virtual Critical Care Program, satellite dialysis, chemotherapy and Cardiac Rehabilitation. The hospital works closely with three local Family Health Teams and Health Unit including 9 Nurse Practitioners.</p>
        <p>TH is a teaching centre for students in medicine, nursing and the allied health professions. We are proud to be affiliated with the Northern School of Medicine (NOSM), Nipissing University, Northern College and several other Ontario colleges and universities. We are also a member of our local Temiskaming&nbsp;Health Links, whose goal is to provide more efficient and effective care for people with multiple chronic disorders.</p>
        <p>Our professional staff, local and visiting specialist physicians, employees and volunteers play a vital role in delivering the community acute care. We believe that the patient comes first and strive to provide services that are relevant to our communities within our resource base while employing best practices. Patients and their families share their experience; specifically how they appreciate the warm and skilful care they receive.</p>
        <p>Our website is in the process of being modernized and integrated with our neighbouring care partners, so if you are interested in becoming a member of the team please contact us using the <a href="http://www.temiskaming-hospital.com/index.php/j-stuff/individual-contacts" target="_self" title="Contacts">Contact section</a> on this site.</p>
        <p>Margaret Beatty, President &amp; CEO</p>
        <p>Assistant Professor, NOSM</p>
    </div>
</article>
