@{
    ViewBag.Title = "Temiskaming - Join Our Team";
}
<div class="menu">
    <nav>
        @{Html.RenderAction("Nav", "Home", new { group = "JoinOurTeam" });}
    </nav>
</div>
<h2>Join Our Team</h2>
