

@{
    ViewBag.Title = "Temiskaming - Patients and Visitors";
}
<div class="menu">
    <nav>
        @{Html.RenderAction("Nav", "Home", new { group = "Patients" });}
    </nav>
</div>
<h2>Patients and Visitors</h2>
