@{
    ViewBag.Title = "Temiskaming - Programs and Services";
}
<div class="menu">
    <nav>
        @{Html.RenderAction("Nav", "Home", new { group = "ProgramsServices" });}
    </nav>
</div>
<h2>Programs and Services</h2>
