@{
    ViewBag.Title = "Temiskaming - Programs and Services";
}

<h2>Programs and Services</h2>

<p>At Temiskaming Hospital, we pride ourselves in offering a diverse set of programs and services for patients and their families. Please click on the links in the submenu to explore our programs and services in depth.</p>