@model Temiskaming.Models.staff

<h2>_staffList</h2>


<h3>@Model.staff_fname @Model.staff_lname</h3>

<p>
    <br />Position: @Model.staff_position
    <br />Phone: @Model.staff_phone
    <br />Extension:@Model.staff_ext
    <br />Email:@Model.staff_email
</p>



@*//[Team2]Temiskaming-Hospital website Redesign Project @ Humber College
    //Feature: Directory-Public
    //File: _staffIndex.cshtml
    //Author: Jeesoo Kim
    //March30, 2015*@
