#nchat {
    width: 500px;
    height: 500px;
    padding: 20px;
    background: rgba(200,200,255,.2);
    border: 1px black solid;
}

.chatMenu {
    margin: 0 0 20px 0;
}

.chatMenu li{
    display: inline-block;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid #aaa;
}