html, body {
    height: 100%;   
}
body {
    font-size: .85em;
    font-family: Roboto, "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 0;
    padding: 0;
}


header, footer, nav, section {
    display: block;
}

ul{
    margin: 0;
    padding: 0;
}

#wrapper, #hwrapper, #fwrapper {
    width: 1050px;
    margin: 0 auto;
    height: 100%;
}
.menu {
    position: relative;
    top: 20px;
}

input[type="submit"]{
    background: #bbecff;
    padding: 5px;
    border: 1px solid black;
}


/*HEADER MASTER BEGINS*/

header {
    height: 60px;
    border-bottom: 1px solid #60cef7;
    padding-right: 30px;
}

header #logo {
    display: block;
    height: 59px;
    width: 59px;
    float: left;
    margin-left: 30px;
    background: #60cef7;
    background: url('Images/logo.png') no-repeat;
    background-size: 59px 59px;
}

header nav {
    font-size: 150%;
    position: relative;
    float: right;
    margin-top: 20px;
}

header a{
    color: black;
    text-decoration: none;
}

header a:hover {
    color: #60cef7;
}

nav li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

/*HEADER MASTER ENDS*/

/*BODY MASTER BEGINS*/
#container {
   min-height: 100%;
   height: auto;
   height: 100%;
   margin: 30px 30px -150px 30px;
}

#content {
    width: 70%;
    float: left;
}
    /*HOMEPAGE STYLING INDEX.ASPX*/
    #banner {
        height: 300px;
        width: 100%;
        background: url('http://www.temiskaming-hospital.com/media/rokgallery/0/0b115bc6-7699-4d32-b73b-88340e54c986/5e7da87b-3e79-4cd8-834d-18245599a989.jpg') #60cef7 left no-repeat;
        background-size: cover;
    }
    /*HOMEPAGE STYLING ENDS*/
    
    /*ASIDE SIDEBAR MASTER BEGINS*/
    aside {
        text-align: center;
        width: 28%;
        float: right;
    }
    
    aside a {
        display: block;
        width: 100%;
        min-height: 40px;
        color: white;
        text-decoration: none;
        padding-top: 10px;
    }

    aside h2 {
        margin: 0;
        font-size: 160%;
        color: white;
        font-weight: normal;
        min-height: 40px;
        background: #60cef7;
    }
    aside h2:hover {
        background: #1c3152;
    }
    #alertBox {
        /*display: none;*/
    }
    #alertBox h2{
        height: 30px;
        background: #1c3152;
    }

    aside div {
        margin: 0;
    }

    #chatbox{
        width: 450px;
    }

    #chat {
        position: relative;
        text-align: left;
        display: none;
        height: 450px;
        padding: 20px;
        background: #a0e2fa;
        z-index: 1000;
    }

    #chatLog, #fMessage {
        width: 100%;
    }

    #chatLog {
        height: 300px;
        margin: 10px 0;
        background: white;
    }

    #send {
        float: right;
    }

    /*SIDEBAR MASTER ENDS*/

/*BODY MASTER ENDS*/


footer {
    clear: both;
    height: 150px;
    background-color: #60cef7;
    padding: 10px 20px 0 20px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {

}

footer nav {
    font-size: 1.2em;
    color: white;
    float: right;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*MEDIA MASTER QUERIES*/
@media only screen and (max-width: 1100px) {
    
    #wrapper, #hwrapper, #fwrapper {
        width: 100%;
        margin: 0 auto;
        height: auto;
    }
    .menu {
        text-align: center;
    }
    
    /*HEADER*/
    header {
        text-align: center;
        height: auto;
        padding: 0;
        margin: 0;
    }
    header #logo {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    header nav {
        font-size: 1.5em;
        float: none;
        width: 100%;
    }
    header a {
        display: block;
        width: 100%;
        padding: 10px 0;
    }
    header a:hover {
    }
    header nav li {
        border-top: 1px dashed #60cef7;
    }

    header nav li:first-child{
        margin-left: 0;
    }

    /*BODY*/
    #container {
        height: auto;
        margin: 0;
        margin-top: 20px;
    }
    #content, #adminContent {
        width: auto;
        margin: 0 15px;
        float: none;
    }
    aside{
        font-size: 0.85em;
        width: 100%;
        float: none;
        margin-top: 100%;
    }
    
    /*FOOTER*/
    footer {
        padding: 0;
        width: 100%;
    }
    footer nav {
        float: none;
        text-align: center;
        margin: 0;
    }
    footer a {
        display: block;
        width: 100%;
        padding: 10px 0;
    }
    footer a:hover {
        background: #60cef7;
    }
    footer nav li {
        margin-left: 20px;
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 770px) {
    /*SECONDARY NAV*/
    .menu {
        position: static;
        text-align: left;
    }
    #menuIcon {
        color: white;
        width: 100%;
        height: 45px;
        background: url('Images/hamburger.png') no-repeat center;
        background-size: 40px 40px;
        background-color: black;
        margin: 0;
        padding: 0;
    }
    #menuIcon:active {
        background-color: #1c3152;
    }
    .menu a {
        display: block;
        width: 100%;
        color: white;
        text-decoration: none;
        background: black;
        padding: 10px;
        border-top: 1px dashed white;
    }
    .menu nav {
        display: none;
    }
    .menu a:active {
        background: #1c3152;
    }
    .menu li {
        margin: 0;
        font-size: 1.2em;
        display: list-item;
        background: #1c3152;
        overflow: hidden;
    }

    header nav li {
        display: list-item;
        margin-bottom: 10px;
        margin: 0;
        background: #a0e2fa;
    }
    header nav {
        font-size: 1.4em;
    }
    header a:hover {
        color: white;
    }
    header a:active {
        background: #35758e;
    }
    footer nav li {
        display: list-item;
        list-style: none;
        background: #a0e2fa;
        margin: 0;
    }
    
}

/*FEATURE SPECIFIC STYLING BEGINS*/
/* Job appications CSS*/
.accordion_h3 {
    background-color: #d4eff9;
}

#job_form textarea {
    width : 96%;
    height : 200px;
}

#job_form {
    padding: 10px;
    margin: 0 auto;
}

#job_form th {
    background-color:#d4eff9;
    padding-left:5px;
    padding-right:5px;    
}

#job_form td {
    padding: 5px;
}

.jobform {
width : 350px;
}

.admin_job {
    border: 2px solid #eeeeee;
    margin-left:10px;   
}

.admin_job th {
    background-color:#d4eff9;
    padding-left:8px;
    padding-right:8px;    
}

.admin_job td {
    border: 2px solid #eeeeee;
    padding-top:10px;
}

.job_post_form {
    padding: 10px;
}

.job_post_form td{
    padding: 7px;
}

.job_post_form th {
    background-color:#d4eff9;
    padding-left:5px;
    padding-right:5px;    
}
.jobform {
width : 350px;
}
.job_post_form textarea {
width : 96%;
height : 200px;
}



/* Styles for basi



/*FEATURE SPECIFIC MEDIA QUERIES*/
@media only screen and (max-width: 1100px) {

    /*SECONDARY NAV*/
    
   
    /*HOME*/
    #banner {
        display: none;
    }
    
    h2 {
        text-align: center;
    }
    
}


/*for News Feed only*/

.adminRichText
{
width:450px;
}