@model IEnumerable<Temiskaming.Models.ContactForm>
@{
    ViewBag.Title = "ContactFormAdmin";
}

<h2>ContactForm Admin</h2>


<div>
    <ul>
        @foreach (var x in Model)
        {
            <li>
                @*Display name *@
                @Html.DisplayFor(model => x.Name)
                @*Dsplay Email*@
                @Html.DisplayFor(model => x.Email)

                @*Show detail fo the comment*@
                @Html.ActionLink("Details", "contactformDetail", new { id = x.id })
                @*Delete*@
                @Html.ActionLink("Delete", "ContactFormDelete", new { id = x.id })
            </li>
        }
    </ul>
</div>
