@model Temiskaming.Models.navigation
@{
    ViewBag.Title = "Temiskaming Admin - CMS Delete Page";
}

<h2>Delete Page</h2>

<p>Are you sure you wish to delete the page "@Model.name"?</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.id)
    <input type="submit" value="Yes" name="action" />
    <input type="submit" value="Cancel" name="action" />
}