@model Temiskaming.Models.navigation
@{
    ViewBag.Title = "Temiskaming Admin - CMS Delete Page";
}

<h2>Delete Page</h2>

<p>Are you sure you wish to delete the page "@Model.name"?</p>

@using (Html.BeginForm())
{
    <input type="submit" value="Yes" />
}