@model Temiskaming.Models.navigation

@{
    ViewBag.Title = "Temiskaming Adming - CMS Create";
}

<h2>Create new page</h2>
<table>
    @using (Html.BeginForm("Insert", "CMS", FormMethod.Post))
    {
        <tr>
            <td>@Html.Label("Page Title: ")</td>
            <td>@Html.TextBoxFor(x => x.name)</td>
        </tr>
        <tr>
            <td>@Html.Label("Content: ")</td>
            <td>@Html.TextArea("Content")</td>
        </tr>
        <tr>
            <td><input type="submit" value="Create Page" /></td>
            <td>&nbsp;</td>
        </tr>
    }
</table>