<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://temiskaming.ijeesoo.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>MANDRAKE.arvixe.com</MSDeployServiceURL>
    <DeployIisAppPath>temiskaming.ijeesoo.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>temiskam_esoocom_adm</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TemiskamingConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Temiskaming.Models.UsersContext, Temaskaming" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TemiskamingProject" Order="3" Enabled="True">
          <Destination Path="Data Source=MANDRAKE.arvixe.com;Initial Catalog=Temiskaming;User ID=dbtemis;Password=humber2015" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MANDRAKE.arvixe.com;Initial Catalog=Temiskaming;Persist Security Info=True;User ID=dbtemis;Password=humber2015" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TemiskamingProject_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=MANDRAKE.arvixe.com;Initial Catalog=Temiskaming;Persist Security Info=True;User ID=dbtemis;Password=humber2015" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Temiskaming.Properties.Settings.TemiskamingProject" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MANDRAKE.arvixe.com;Initial Catalog=Temiskaming;Persist Security Info=True;User ID=dbtemis" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Temiskaming.Properties.Settings.TemiskamingProject_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=MANDRAKE.arvixe.com;Initial Catalog=Temiskaming;Persist Security Info=True;User ID=dbtemis" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TemiskamingConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TemiskamingProject-Web.config Connection String">
      <ParameterValue>Data Source=MANDRAKE.arvixe.com;Initial Catalog=Temiskaming;User ID=dbtemis;Password=humber2015</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="TemiskamingConnectionString" />
  </ItemGroup>
</Project>