@model Temiskaming.Models.story

@{
    ViewBag.Title = "SubmitAction";
}

<h2>SubmitAction</h2>

<p>Thank you, @Model.author, your submission is received. It will be published after review.</p>
<p>You will be contacted through @Model.email</p>