<h2>
    Thank you for signing up!
</h2>
<br />

<p>We appreciate our Volunteers and consider them an integral part of our health care team. </p>
Please sign in to check your schedule.
<br />
@*@Html.ActionLink("Back to Volunteers Home", "Index", "Volunteer")*@


@*//[Team2]Temiskaming-Hospital website Redesign project @ Humber College
    //Feature: Volunteer - Public View
    //File : Thanks.cshtml
    //Author: Jeesoo Kim
    //Created: April 7, 2015*@