@*declaring the datatype of the model*@
@model IEnumerable<Temiskaming.Models.news>

@{
    ViewBag.Title = "Index";
}

<h2>News Feed</h2>
<div>
    @foreach (var x in Model)
    {
        <h3 style="font-size: 150%">@x.title</h3>
        @Html.Raw(@x.content)
    <hr />
    }
    
</div>