@model IEnumerable<Temiskaming.Models.news>

@{
    ViewBag.Title = "newsadmin";
}

<h2>News Feed Admin Page</h2>

@Html.ActionLink("Create New Article", "newsinsert")
<br/>

@foreach (var x in Model)
{
    @Html.ActionLink(x.title, "newsupdate", new {id = x.id}, null)
    <br/>
}